<div class="header">
    <div>
        <h2>Tätigkeiten</h2>
    </div>
    <div>
        <h2>Priorität</h2>
    </div>
    <div>
        <h2>Erledigt</h2>
    </div>
    <button class="new-todo" (click)="addNewToDo()">New</button>
</div>

<ul class="todo-list">
    <li *ngFor="let toDo of toDos">
        <div class="todo-name">
            <ng-container *ngIf="!toDo.isEditing; else editMode">
                {{ toDo.name }}
            </ng-container>
            <ng-template #editMode>
                <input
                    type="text"
                    [(ngModel)]="toDo.name"
                    (blur)="toggleEdit(toDo)"
                    (keydown.enter)="toggleEdit(toDo)"
                />
            </ng-template>
        </div>

        <div class="priority-container">
            <button class="priority-button" (click)="togglePriorityDropdown(toDo)">
                {{ toDo.priority | titlecase }}
                <span class="dropdown-icon" [class.open]="toDo.isDropdownOpen">＜</span>
            </button>
            
            <div *ngIf="toDo.isDropdownOpen" class="priority-dropdown">
                <div *ngFor="let priority of priorities" class="priority-option" (click)="changePriority(toDo, priority)">
                    {{ priority | titlecase }}
                </div>
            </div>
        </div>

        <div class="todo-completed">
            <input type="checkbox" [(ngModel)]="toDo.complete" />
        </div>

        <button class="edit-button" (click)="toggleEdit(toDo)">Edit</button>
    </li>
</ul>